.head_container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 8pc;
    justify-content: center;
    color: rgb(146 145 149);
}

.table-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    gap: 4pc;
}

.table-container-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    gap: 4pc;
}

table {
    border-collapse: collapse;
    width: 80%;
    box-shadow: 0 0 0 1px rgb(146 145 149); /* Añade una sombra alrededor de la tabla */
    border-radius: 10px; /* Añade un borde redondeado a la tabla */
    overflow: hidden; /* Evita que el contenido de las celdas se salga del borde redondeado */
}

.table-2 {
    width: 100% !important;
}

.content-table-2 {
    height: 200px !important;
}

.table-3 {
    width: 50% !important;
}

.table-container-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    justify-content: flex-start;
    gap: 4pc;
}

.blue-box-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.text-box {
    margin-top: 10px;
    padding: 0;
    transform: translate(-110px);
}

.blue-box {
    width: 350px;
    height: 250px;
    background-color: rgb(235 238 241);
}

.table-4 {
    width: 60% !important;
}

.table-container-4 {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 4pc;
    display: flex;
    gap: 4pc;
}

.main-head-container {
    display: flex;
    gap: 21pc;
}

.head_container-table-5 {
    margin-top: 2pc;
    margin-bottom: 2pc;
    color: rgb(146 145 149);
    transform: translate(50px);
}

.head_container-table-5-sub {
    margin-top: 2pc;
    margin-bottom: 2pc;
    color: rgb(146 145 149);
    transform: translate(60px);
}

.table-container-5 {
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    justify-content: flex-end;
    display: flex;
    gap: 4pc;
}

.table-5 {
    width: 60% !important;
}

.content-table-5 {
    height: 125px !important;
}

.table-container-6 {
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    justify-content: flex-end;
    display: flex;
    gap: 4pc;
}

.table-6 {
    width: 60% !important;
}

.table-7 {
    width: 30% !important;
}

th, td {
    border: 1px solid rgb(146 145 149); /* Añade un borde más claro a las celdas */
}

.ht-no-border, .td-no-border {
    border: none !important;
}

th {
    padding: 10px;
    background-color: rgb(235 238 241);
}

td {
    padding: 10px;
    text-align: left;
}

.td-border-left {
    border-left: 1px solid rgb(146 145 149) !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: none !important;
}

.bar-code {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
}