.head_container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 8pc;
    justify-content: center;
    color: rgb(146 145 149);
}

.table-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    gap: 4pc;
}

.table-container-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    gap: 4pc;
}

table {
    border-collapse: collapse;
    width: 80%;
    box-shadow: 0 0 0 1px rgb(146 145 149); /* A침ade una sombra alrededor de la tabla */
    border-radius: 10px; /* A침ade un borde redondeado a la tabla */
    overflow: hidden; /* Evita que el contenido de las celdas se salga del borde redondeado */
}

.table-2 {
    width: 100% !important;
}

.content-table-2 {
    height: 200px !important;
}

th, td {
    border: 1px solid rgb(146 145 149); /* A침ade un borde m치s claro a las celdas */
}


th {
    padding: 10px;
    background-color: rgb(235 238 241);
}

td {
    padding: 10px;
    text-align: left;
}